@charset "utf-8";
/* CSS Document */

@font-face
{
    font-family: Garamond, Trebuchet, Helvetica;
}

#content
{
	width: 100%;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .5);
}
	
body
{
	font-family: Trebuchet, Calibri, Cambria, Helvetica, Garamond;
	font-size: 12pt;
	background-color: white;
	color: black;
	background-image: url("http://farm4.staticflickr.com/3774/12590625744_8b30f26ea4_o.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	margin: 1% 0% 1% 0%;
}

h1, h2
{
	text-align: center;
	text-transform: uppercase;
	font-family: Garamond;
}

h1,h2,h3
{
	padding: 6px;
}

h1
{
	font-size: 180%;
	color: white;
	background-color: #900;
	text-shadow: -1px -1px white;
}

h2
{
	font-size: 165%;
}

h3
{
	font size: 145%;
	text-align: center;
	font-family: Garamond;
}

h4
{
	font size: 130%;
	text-align: left;
	text-transform: uppercase;
	font-family: Garamond;
	padding: 5px;
}

hr
{
	border-style:solid;
	border-color:#900;
	border-width: 5px;
}

img
{
	display: block;
	margin: auto;
}

img.dishes
{
	margin: 0 auto;
	max-width: 75%;
	max-height: 500px;
	border-color:#900;
	border-style:dashed;
	border-width: 2px;
	
}

img.misc
{
	margin: 0 auto;
	max-width: 75%;
}

object
{
	display: none;
}

iframe
{
	max-width: 80%;
}
