@charset "utf-8";
/* CSS Document */

@font-face
{
    	font-family: Garamond, Trebuchet, Helvetica;
}
	
body
{
	font-family: Trebuchet, Calibri, Cambria, Helvetica, Garamond;
	font-size: 11pt;
	background-color: white;
	margin: 2%;
	color: black;
	background-image: url("https://farm4.staticflickr.com/3799/12485151973_6e63079959_o.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
}

h1, h2
{
	text-align: center;
	text-transform: uppercase;
	font-family: Garamond;
}

h1,h2,h3
{
	padding: 10px;
}

h1
{
	font-size: 300%;
	color: white;
	background-color: #900;
	text-shadow: -1px -1px white;
}

h2
{
	font-size: 250%;
}

h3
{
	font size: 200%;
	text-align: center;
	font-family: Garamond;
}

h4
{
	font size: 150%;
	text-align: left;
	text-transform: uppercase;
	font-family: Garamond;
	padding: 5px;
}

#content
{
	width: 75%;
	max-width: 800px;
	margin-left: 2%;
	overflow: hidden;
}


img
{
	display: block;
	margin: auto;
}

hr
{
	border-style:solid;
	border-color:#900;
	border-width: 5px;
}
